<section class="content-header clearfix">
    <h1><%= __('Competition') %>
        <small><%= __('Language') %> - <%= req.params.language %></small>
    </h1>
</section>


<section class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><%= __('Competition data') %></h3>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="ajaxForm" action="" method="post" enctype="multipart/form-data">

                                <div class="box-body row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name"><%= __('Competition title') %></label>
                                            <input class="form-control" id="title" name="title" type="text" value="<%= competition ? competition.title : "" %>" placeholder="<%= __('Enter competition title') %>" required>
                                        </div>


                                        <div class="form-group">
                                            <label for="description"><%= __('Competition description') %></label>
                                            <textarea class="form-control wysiwyg" id="description" name="description" placeholder="<%= __('Enter competition description') %>"><%= competition ? competition.description : "" %></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label for="name"><%= __('Date range') %></label>
                                            <input class="form-control" id="daterange" name="daterange" type="text" value="<%= competition ? competition.date : ''%>" placeholder="<%= __('Enter news date range') %>" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="name"><%= __('Add input field') %></label>
                                            <input id="add_input_field" name="add_input_field" type="checkbox" value="true" <% if (competition && competition.add_input_field) { %> checked="checked" <% } %>>
                                        </div>

                                        <div class="form-group">
                                            <label for="name"><%= __('Input field name') %></label>
                                            <input class="form-control" id="input_field_name" name="input_field_name" type="text" value="<%= competition && competition.input_field_name ? competition.input_field_name : "" %>" placeholder="<%= __('Add input field name') %>" <% if (!competition.add_input_field) { %> disabled="disabled" <% } %> >
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                                <label><%= __('List view image') %></label>
                                                <input type="file" class="cropper-picker">
                                            <div class="cropper-holder">
                                                <img data-name="listImage" data-width="1000" data-height="500" class="cropper" src="<%= competition.listImage ? competition.listImage : '/images/default.png' %>">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                                <label><%= __('Detail view image') %></label>
                                                <input type="file" class="cropper-picker">
                                            <div class="cropper-holder">
                                                <img data-name="detailImage" data-width="500" data-height="500" class="cropper" src="<%= competition.detailImage ? competition.detailImage : '/images/default.png' %>">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="box-footer">
                                    <button type="submit" class="btn btn-success submitBtn"><%= __('Submit') %></button>
                                    <a class="btn btn-link btn-sm" href="/competitions/<%= req.params.language %>">
                                        <span><%= __("Cancel") %></span> 
                                    </a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>